<h1>This is a Test Radiator Page!!!!</h1>
<h2>Upcoming Events</h2>

<% if not @event.present? %>
  There is no event.
<% else %>
  <%= @event.time %><%= @event.name %><%= @event.speaker %>
<% end %>
<br />
<br />
<% official_tweets(3).each do |r| %>
  <%= "#{r.from_user}: #{r.text}" %><br />
<% end %>
<br />
<br />
<% hash_tweets(5).each do |r| %>
  <%= "#{r.from_user}: #{r.text}" %><br />
<% end %>



