<!DOCTYPE html>
<html>
  <head>
    <title>GorucoRadiator</title>
    <%= stylesheet_link_tag "common", :media => :all %>
    <%= stylesheet_link_tag "admin", :media => :all %>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'jquery', 'rails.validations' -%>
  </head>
  <body>
    <div id="wrapper">
      <%= yield %>
    </div>
  </body>
</html>

