<!DOCTYPE html>
<html>
  <head>
    <title>GorucoRadiator</title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrap">
      <div id="wrap_content">
        <div id="header">
          <%= image_tag 'logo.png', :id => "logo" %>
          <%= render 'sponsor' %>
        </div>
        <div class="clear"></div>

        <%= yield %>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
